# Path on the docker host where persistant data is stored
VAULT_DATA_DIR=/data/vault

# Domain name of the deployment host
VAULT_DOMAIN=vault.example.com

# Email address for LetsEncrypt registration and Vaultwarden invites
VAULT_ADMIN_EMAIL=admin@example.com

# Organisation name to use in vaultwarden
VAULT_ORG_NAME=Vaultwarden

# Vaultwarden SMTP Settings
VAULT_SMTP_HOST=localhost
VAULT_SMTP_PORT=587
VAULT_SMTP_SECURITY=starttls
VAULT_SMTP_USERNAME=username
VAULT_SMTP_PASSWORD=password

