# OCI config
# ----------------------------------------------------------------------------
oci_tenancy_ocid     = "ocid1.tenancy.oc1.."
oci_user_ocid        = "ocid1.user.oc1.."
oci_compartment_ocid = "ocid1.tenancy.oc1.."
oci_api_fingerprint  = "xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx"
oci_api_private_key  = <<EOF
-----BEGIN RSA PRIVATE KEY-----
...
-----END RSA PRIVATE KEY-----
EOF


# Cloudflare config
# ----------------------------------------------------------------------------

# API Token with Zone.DNS scope
cloudflare_api_token = "..."

# Zone where DNS records will be created
cloudflare_zone      = "example.com"


# Host config
# ----------------------------------------------------------------------------

# Hostname for the instance and DNS A record
hostname = "vault"

# Username for the user used for app deployment
deployer_username = "deployer"

# Username for the sudo-enabled admin user
admin_username = "admin"

# User-provided SSH public key. Will be used for both the 'admin' and 'deployer' accounts
admin_ssh_public_key = "ssh-ed25519 AAAAC..."


# Instance config
# ----------------------------------------------------------------------------
region              = "ap-sydney-1"
instance_shape      = "VM.Standard.E2.1.Micro"
instance_ocpus      = 1
instance_memory_gb  = 1
boot_volume_size_gb = 50
